* {
    font-family: Tektur, sans-serif;
}

body {
    background-color: #DAD4C6;
    margin: 0;
    padding: 0;
}

.page-exit {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.2s ease;
}

.match-container {
    width: 45%;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    background-color: transparent;
}

.match-container h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.match-container h2 {
    font-size: 16px;
    color: #888;
    margin-bottom: 20px;
}

.teams-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.team {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team span {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.match-result{
    align-self: center;
    font-size: 23px;
    text-align: center;
    display: block;
    width: 100%;
    font-weight: bold;
}

.odds-container {
    margin-bottom: 20px;
}

.odds-container .labels {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 18px;
    color: #555;
}

.odds-container .labels span {
    flex: 1;
    text-align: center;
}

.odds-container .odds {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.odds-container .odds button {
    flex: 1;
    padding: 12px 20px;
    background-color: #434240;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 18px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.odds-container .odds button:hover {
    background-color: #5E5E5F;
}

.odds-container .odds button.active {
    background-color: #141414;
}

.input-amount {
    width: 60%;
    padding: 12px;
    font-size: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #595A56;
    color: white;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 20px;
}

button {
    width: 40%;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 7px;
    background-color: #202020;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #5A5958;
}

.balance-box {
    position: absolute;
    top: -10px;
    right: 40px;
    background-color: #232323;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 20px;
    z-index: 1000;
}